<navigation></navigation>
<section class="section flex flex-col py-60 items-center h-screen relative">
  <div class="sheet text-center">
    <h5 class="text-1xl font-serif font-light text-blue-900 relative z-10">Unlock Creativity. Find Talent. Get It Done.
    </h5>
    <div class="image mt-8 absolute inset-0 flex justify-center items-center z-0">
      <img src="../../../assets/images/logo.png" alt="logo" class="logo-image mx-auto h-72 opacity-20">
    </div>
    <h1 class="u-custom-font u-font-playfair-display text-9xl font-light text-blue-900 relative z-10 mt-4">ARTISTRY</h1>
    <a href="/artists"
      class="btn bg-blue-700 hover:bg-blue-900 text-white py-1 px-4  rounded-full mt-4 relative z-10">EXPLORE
      ARTISTS</a>
  </div>
</section>
<div class="w-full relative">
  <div class="absolute inset-x-0 bottom-0">
    <svg viewBox="160 0 500 110" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
      <path d="M0 20c0 0 70 70 300 70s300-70 600 0 300-70 600 0 300-70 600 0 300-70 600 0V120H0V20z"
        fill="rgba(195, 195, 195, 0.23)"></path>
    </svg>
  </div>
</div>