<navigation></navigation>
<div class="container mx-auto flex flex-col md:flex-row gap-8 px-32">
  <form
  [formGroup]="filterForm"
  class="w-full md:w-1/4 mt-4 border-gray-200 p-10"
  >
  <div class="border-b border-gray-200 py-6">
    <h3 class="font-medium text-sm text-gray-900">Categories</h3>
    <div class="pt-6" id="filter-section-0">
      <div class="space-y-4">
        @for(category of categories; track category){
        <div class="flex items-center">
          <input
            id="{{ category.id }}"
            [formControlName]="category.category"
            value="{{ category.category }}"
            type="checkbox"
            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
          />
          <label for="{{ category.id }}" class="ml-3 text-sm text-gray-600">{{
            category.category
          }}</label>
        </div>
        }
      </div>
    </div>
  </div>
  
  <div class="border-b border-gray-200 py-6">
    <h3 class="font-medium text-sm text-gray-900">Price</h3>
    <div class="pt-6" id="filter-section-0">
      <div class="flex items-center">
        <label for="minPrice" class="ml-3 text-sm text-gray-600"
          >Min Price:</label
        >
        <input
          id="minPrice"
          type="number"
          formControlName="minPrice"
          [value]="minPrice"
          class="ml-2 p-2 border border-gray-300 rounded"
        />
      </div>
      <div class="flex items-center">
        <label for="maxPrice" class="ml-3 text-sm text-gray-600"
          >Max Price:</label
        >
        <input
          id="maxPrice"
          type="number"
          formControlName="maxPrice"
          class="ml-2 p-2 border border-gray-300 rounded"
        />
      </div>
    </div>
  </div>
  </form>

    <section class="artist-container w-full md:w-3/4 flex flex-wrap justify-center gap-3 p-20">
        @if(loading) {
            <progress-spinner></progress-spinner>
        }
        @else {

        @if(artists.length > 0){
        @for(artist of artists; track artist){
        <div class="artist-box border border-gray-300 rounded-lg p-10 w-full flex flex-col h-fit justify-between">
            <div class="artist-info text-end text-gray-600 text-sm font-semibold">
                ${{ artist.hourlyRate }}/hr
            </div>
            <div class="flex items-center mb-3">
                <div class="artist-image mr-2">
                    <img src="{{ artist.profilePictureLocation }}" alt="Artist Image"
                        class="avatar object-cover w-12 h-12 rounded-full">
                </div>
                <div>
                    <div class="artist-name text-xl font-semibold">{{ artist.name }}</div>
                    <div class="artist-info text-sm text-gray-600">{{ artist.jobTitle }}</div>
                </div>
            </div>
            <div class="artist-info text-sm mb-2 text-gray-600">
                <i class="fas fa-light fa-location-dot text-gray-400"></i> {{ artist.country }}
            </div>
            @if(!artist.averageRating){
            <div class="artist-info text-gray-600 mb-2">No available ratings</div>
            } @else {
            <div class="artist-info text-gray-600">
                <i class="fa-solid fa-star text-blue-600 mb-2"></i> {{ artist.averageRating }} ({{ artist.totalReviews
                }} reviews) <review-dialog [artistId]="artist.id"></review-dialog>
            </div>
            }



            <div class="flex flex-wrap gap-2">
                @for(category of artist.categories; track category){
                <p class="category w-fit rounded-full mb-2 text-white text-sm bg-gray-400 px-2 py-1">{{ category }}</p>
                }
            </div>

            <div class="artist-summary mb-3 text-sm text-gray-600 overflow-y-auto">{{ artist.summary }}</div>
            <a href="/artists/{{ artist.id }}"
                class="hyperlink inline-block w-32 py-1 px-2 rounded-lg text-white font-medium bg-blue-600 hover:bg-blue-700 text-center mt-auto">See
                more</a>
        </div>
        }
        }@else{
        <p class="font-semibold">No artists with selected category or categories.</p>
        }


        }
    </section>

</div>
