<navigation></navigation>

@if(artist){
<div class="container w-fit max-h-72 mx-auto flex my-2 px-48">
    <div class="w-1/2 max-h-screen artist-image my-auto">
        <img src="{{ artist.profilePictureLocation }}" alt="Artist Image" class="lg:rounded-lg shadow-2xl">
    </div>

    <div class="w-1/2 text-xl p-5">
        <div class="mb-6 flex border-y">
            <div class="w-4/5">
                <h4 class="text-4xl font-medium mb-2">{{ artist.name }}
                </h4>
                <!-- <p class="text-sm text-gray-700">${{ artist.hourlyRate }}/hr</p> -->

                
                <h5 class="mb-2 text-sm text-gray-500">{{ artist.jobTitle }} | ${{ artist.hourlyRate }}/hr</h5>

                @for(category of artist.categories; track category){
                    <p class="category inline-block mx-1 w-fit rounded-full mb-1 text-white text-xs bg-gray-400 px-2 py-1">{{ category }}</p>
                    }
                <!-- @if(!artist.averageRating){
                <div class="text-sm text-gray-600">No available ratings</div>
                }@else{
                <div class="text-sm text-gray-600"><i class="fa-solid fa-star text-blue-500"></i> {{
                    artist.averageRating }} ({{ artist.totalReviews }} reviews)</div>
                } -->
                <div class="text-sm p-2">
                    <i class="fas fa-light fa-location-dot text-blue-600"></i> {{ artist.country }}
                </div>
            </div>

            <a href="uploads/portfolio/{{artist.id}}"
                class="w-1/5 text-white flex items-center justify-center bg-blue-600 text-1xl font-light hover:bg-blue-700">Portfolio</a>
        </div>


        <div class="w-full">
            <h1 class="text-6xl font-light mb-3">About Me</h1>
            <p class="text-lg text-gray-700 mb-3">{{artist.summary}}&nbsp;</p>
            <!-- <a href="#" class="inline-block mt-4 px-4 py-2 bg-blue-700 text-white rounded hover:bg-blue-600">Chat Now -->
                <!-- </a> -->
                <artist-reviews [artistId]="artist.id"></artist-reviews>

        </div>
    </div>
</div>
}